* functions
* list comprehension
* lambda expressions

# A function is defined as follows:
def name_of_your_function(param):

    instructions....here...
    
    return resutl

In [1]:
#Example
seq = [1,2,3,4,5,6,7,8,9,10]

### We want to write a function that takes a list of numbers and  returns the list that contains the square of the numbers

In [2]:
def square_num(alist):
    emp_list = []
    for num in alist:
        emp_list.append(num**2)
    return emp_list

In [3]:
square_num(seq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
def square_number(num):
    return num**2

In [5]:
square_number(27)

729

In [6]:
square_number(-14)

196

In [7]:
my_fruit_bas = ['apple','banana','water melon', 'grape','mango', 'apricot']

In [8]:
def fruit_list(alist):
    emp_fruit = []
    for fruit in alist:
        if fruit[0] != 'a':
            emp_fruit.append(fruit)
    return emp_fruit

In [9]:
fruit_list(my_fruit_bas)

['banana', 'water melon', 'grape', 'mango']

In [10]:
# List Comprehension

In [11]:
[fruit for fruit in my_fruit_bas if fruit[0]!='a']

['banana', 'water melon', 'grape', 'mango']

In [1]:
numbers = [-5, 0, 7, -2, 9, 0, -1]

# Using list comprehension with if-elif-else
categories = ["Positive" if num > 0 else "Negative" if num < 0 else "Zero" for num in numbers]

print(categories)

['Negative', 'Zero', 'Positive', 'Negative', 'Positive', 'Zero', 'Negative']

In [3]:
nums = list(range(1, 11))

# List comprehension with if-else
labels = ["Even" if num % 2 == 0 else "Odd" for num in nums]

print(labels)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [12]:
numbers = [-5, 0, 7, -2, 9, 0, -1]

# List comprehension with if-elif-else
categories = ["Positive" if num > 0 else "Negative" if num < 0 else "Zero" for num in numbers]

print(categories)

['Negative', 'Zero', 'Positive', 'Negative', 'Positive', 'Zero', 'Negative']

# Dictionary Conprehension

In [5]:
scores = {"Alice": 85, "Bob": 73, "Charlie": 90, "David": 60, "Eve": 45}

# Dictionary comprehension with if-elif-else
grades = {name: "A" if score >= 85 else "B" if score >= 70 else "C" if score >= 50 else "F"
          for name, score in scores.items()}

print(grades)

{'Alice': 'A', 'Bob': 'B', 'Charlie': 'A', 'David': 'C', 'Eve': 'F'}

In [9]:
temperatures = {"New York": 30, "Los Angeles": 75, "Chicago": 20, "Houston": 85, "Denver": 40}

# Dictionary comprehension with conditional statements
temp_category = {city: "Cold" if temp < 50 else "Warm" if temp < 80 else "Hot"
                for city, temp in temperatures.items()}

print(temp_category)

{'New York': 'Cold', 'Los Angeles': 'Warm', 'Chicago': 'Cold', 'Houston': 'Hot', 'Denver': 'Cold'}

### We want to write a function that takes one number and returns FizzBuzz if
## if the number divisible by 3 and divisible by 5 , 
## the function will return Fizz if the number is divisible by 3, 
## the function returns Bazz if the number is divisible by 5, else the function 
## will return the number

In [20]:
def FizzBuzz(num):
    if(num %3 == 0)&(num % 5 == 0):
        print('FizzBuzz')
    elif num % 3 ==0:
        print("Fizz")
    elif num % 5 == 0:
        print("Bazz")
    else:
        print(num)

In [18]:
['FizzBaz' if (num % 3 == 0)&(num % 5 == 0) else "Fizz" if (num % 3 == 0) else "Bazz" if (num % 5 == 0) else num  for num in range(0,20)]

['FizzBaz',
 1,
 2,
 'Fizz',
 4,
 'Bazz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Bazz',
 11,
 'Fizz',
 13,
 14,
 'FizzBaz',
 16,
 17,
 'Fizz',
 19]

In [13]:
FizzBuzz(30)

FizzBuzz

In [14]:
FizzBuzz(72)

Fizz

In [15]:
FizzBuzz(10)

Bazz

In [16]:
FizzBuzz(1)

1

In [21]:
# Lambda function is fefinned as follows:
# lambda x: instructions(x) here

In [22]:
def square_number(num):
    return num**2

In [27]:
S = lambda m: m**2

In [28]:
S(13)

169

In [29]:
def square_num(alist):
    emp_list = []
    for num in alist:
        emp_list.append(num**2)
    return emp_list

In [30]:
square_num(seq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
[x**2 for x in seq]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Lambda Function

In [1]:
def double(num): return num*2

In [4]:
double(12)

24

In [5]:
def double(num): 
    return num*2

In [6]:
def double(num): return num*2

In [7]:
D = lambda num:num*2

In [8]:
D(30)

60

In [9]:
D(11)

22

In [10]:
email = 'example@email.com'

In [13]:
S = lambda x: x.split("@")[0]

In [14]:
S(email)

'example'